{%load i18n %}
<p>
<b>{{ full_name }}</b>
{% trans "te envio esto desde" %}  <a href="http://{{SITE.name}}">{{SITE.name}}</a>
	<br />
	<br />
  <a href="{{ link|default:"linlk" }}">
    {{title}}
  </a>
</p>
