<script type="text/javascript">
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.async = true;
  js.src = "//connect.facebook.net/{% if lang == 'en' %}en_US{% else %}es_LA{% endif %}/all.js#appId={{FACEBOOK_APP_ID}}&xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
{% spaceless %}
<div class="fb-like"
     {% if url %}data-href="{{ url }}"{% endif %}
     data-send="{{ send|yesno:'true,false' }}"
     data-layout="{{ layout }}"
     data-width="{{ width }}"
     data-show-faces="{{ faces|yesno:'true,false' }}"
     data-action="like"
     data-colorscheme="{{ colorscheme }}"
     data-font="{{ font }}"></div>
{% endspaceless %}

