<script type="text/javascript">
  (function(d, s, id) {
  var msie=msieversion();
  if(msie==0||msie>=8){ // g+ soporta del 8 en adelante http://www.google.com/support/accounts/bin/answer.py?hl=en&answer=1151309
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  window.___gcfg={"parsetags":"onload","lang":{% if lang == 'en' %}"en-US"{% else %}"es-419"{% endif %}};
  js = d.createElement(s); js.id = id;
  js.async = true;
  js.src = "https://apis.google.com/js/plusone.js";
  fjs.parentNode.insertBefore(js, fjs);}
}(document, 'script', 'gplus-jssdk'));</script>
<g:plusone {% if url %}href="{{ url }}" {% endif %}size="{{ size }}"
           count="{{ count }}"{% if callback %} callback="{{ callback }}"{% endif %}></g:plusone>
