{% extends 'base.html' %}
{% load i18n %}
{% block body %}
<div class="sendFriendForm">
    <form class="sendFriend" method="post">{% csrf_token %}
        <div class="small">
            {{ form.full_name.label_tag }}
            {{ form.full_name }}
            {{ form.full_name.errors }}
        </div>
        <div class="small">
            {{ form.from_email.label_tag }}<br/>
            {{ form.from_email }}
            {{ form.from_email.errors }}
        </div>
         <div class="small">
            {{ form.to_email_1.label_tag }}<br/>
            {{ form.to_email_1 }}
            {{ form.to_email_1.errors }}
            {{ form.to_email_2 }}
            {{ form.to_email_2.errors }}
            {{ form.to_email_3 }}
            {{ form.to_email_3.errors }}
        </div>
        
            {% for hidden in form.hidden_fields %}
            {{ hidden }}
            {% endfor %}
            <button class="btnNormal" type="reset" onclick="closeDialog();">{% trans 'Cancel' %}</button>
            <button class="btnNormal"  type="submit">{% trans 'Send' %}</button>
    <div class="clear"></div>
    </form>
</div>

<div class="sendFriendSuccess">
    <img class="successImg" src="{{MEDIA_URL}}images/img_paloma.gif" width="23" height="23" />
    <p class="successMsg">{% trans 'Thanks for sharing' %}</p>
</div>
<style type="text/css">body{background: #ffffff;} div.sendFriendSuccess{display:none;}</style>
<script type="text/javascript">
   function closeDialog(){
       parent.$.colorbox.close();
   };

$(document).ready(function(){
   $("form.sendFriend").submit(function(evt){
      evt.preventDefault();
      $('button[type=submit]').hide();
      $('form.sendFriend ul.errorlist').remove();
      var a = $.post('{% url send_to_a_friend %}',$(this).serialize(),function(data){
        console.log("submiting");
          console.log(data.errors, data.success);
          if(data.errors.length==0&&data.success){
              $(".sendFriendForm").hide();
              $(".sendFriendSuccess").show();
          } else {
              for(name in data.errors){
                  var err = data.errors[name];
                  el=$('form.sendFriend [name='+name+']');
                  var html='<ul class="errorlist"><li>'+err+'</li></ul>';
                  el.after(html);
              }
              $('button[type=submit]').show();
          }
      },'json');
      console.log(a);
   });
});

</script>
{% endblock %}
