{% spaceless %}
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.async = true;
  js.src = "http://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'twitter-jssdk'));</script>
<a href="http://twitter.com/share" class="twitter-share-button"
   {% if url %}data-url="{{ url }}"{% endif %}
   {% if text %}data-text="{{ text }}"{% endif %}
   data-count="{{ count }}"
   data-via="{{ twitter_account }}"
   data-lang="{{ lang }}">Tweet</a>
{% endspaceless %}
